<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="robots" content="noindex, nofollow"> -->
    <!-- eslint-disable @html-eslint/indent -->
    <% if (hwp.files.css.length) { %>
        <%= hwp.tags.headTags.filter(e => e.meta.plugin === 'favicons-webpack-plugin') %>
        <link type="text/css" rel="stylesheet" href="css/style.min.css">
        <script defer src="js/app.min.js"></script>
    <% } %>
    <!-- eslint-enable @html-eslint/indent -->
</head>
