{
    "ignoreFiles": [
        "dist/**",
        "src/scss/libs/**"
    ],
    "extends": [
        "@primer/stylelint-config"
    ],
    "overrides": [
        {
            "files": [
                "**/*.htm",
                "**/*.html",
                "**/*.ejs"
            ],
            "customSyntax": "postcss-html"
        }
    ],
    "rules": {
        "indentation": [
            4,
            {
                "baseIndentLevel": 2
            }
        ],
        "comment-empty-line-before": "always",
        "selector-max-type": null,
        "primer/colors": null,
        "primer/spacing": null,
        "primer/borders": null,
        "primer/typography": null,
        "at-rule-disallowed-list": null
    }
}
