//<BUTTONS (a.btn+tab)>
// Snippet (HTML): btn

.button {
    display: inline-flex;
    padding: 0;

    @media (any-hover: hover) {
        // &:hover {
        // }
    }

    &._fw {
        width: 100%;
    }
}
