.checkbox {
    position: relative;

    &:not(:last-child) {
        margin-bottom: em(5);
    }

    // .checkbox__input
    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;

        &:focus + .checkbox__label::before {
            box-shadow: 0 0 5px #000;
        }

        &:checked + .checkbox__label::before {
            background: #000;
        }
    }

    // .checkbox__label
    &__label {
        position: relative;
        display: inline-flex;
        cursor: pointer;
        align-items: center;
        gap: 10px;

        &::before {
            width: 20px;
            height: 20px;
            content: '';
            border: 1px solid #a7a9ac;
            align-self: flex-start;
            flex: 0 0 20px;
        }
    }

    // .checkbox__text
    // &__text {
    // }
}
