<!DOCTYPE html>
<html lang="en">
    <!-- eslint-disable @html-eslint/indent -->
    <%= require('./html/_head.ejs')({
        hwp: htmlWebpackPlugin,
        title: 'Index Page'
    })
    %>
    <!-- eslint-enable @html-eslint/indent -->
    <body>
        <div class="wrapper">
            <%= require('./html/_header.ejs')() %>

            <main class="page">
            </main>

            <%= require('./html/_footer.ejs')() %>
        </div>
        <%= require('./html/_popup.ejs')() %>
    </body>
</html>
